<!-- include tpl=head -->
<script type="text/javascript">
function mail_delete(id,title)
{
	$.dialog.confirm("确定要删除标识 <span class='red'>"+title+"</span> 的模板内容吗?<br />删除后不能正常发送通知",function(){
		var url = get_url("email","del")+"&id="+id;
		var rs = $.phpok.json(url);
		if(rs.status == "ok"){
			$.phpok.reload();
		}else{
			$.dialog.alert(rs.content);
			return false;
		}
	});
}
</script>
<div class="tips">
	<div class="action"><a href="{echo admin_url('email','set')}">添加</a></div>
	您当前的位置：
	<a href="{echo admin_url('email')}">邮件内容模板管理</a>
	&raquo; 列表
</div>
<div class="list">
	<table width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<th class="id">ID</th>
		<th class="lft">邮件头</th>
		<th width="150px">标识</th>
		<th width="120px">操作</th>
	</tr>
	<!-- loop from=$rslist key=$key value=$value id=$tmpid -->
	<tr title="{$value.note}">
		<td align="center">{$value.id}</td>
		<td>{$value.title}</td>
		<td>{$value.identifier}</td>
		<td class="center">
			<div class="button-group">
				<input type="button" value="{lang编辑}" onclick="$.phpok.go('{url ctrl=email func=set id=$value.id/}')" class="phpok-btn" />
				<input type="button" value="{lang删除}" onclick="mail_delete('{$value.id}','{$value.identifier}')" class="phpok-btn" />
			</div>
		</td>
	</tr>
	<!-- /foreach -->
	</table>
</div>
<!-- include tpl=pagelist -->
<!-- include tpl=foot -->